.contact-section {
    /* background: linear-gradient(to bottom right, #ff7f50, #f1c40f); */
    height: 100vh;
    width: 100%;
}

.centralize {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralize .row.contact-form .img-container img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.centralize .row.contact-form .form-container {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contact-heading {
    font-size: 50px;
    font-weight: 600;
}

.img-container {
    padding: 0;
}

img.truck-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.form-container {
    background-color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 2em;
}

textarea#message {
    height: 150px;
}

button.submit {
    background-color: #2D8AB3;
    color: white;
    font-weight: 500;
    font-size: small;
    box-shadow: rgba(45, 139, 179, 0.541) 0px 10px 15px -3px, rgba(45, 139, 179, 0.808) 0px 4px 6px -2px;
}

.form-container * {
    .form-group label {
        font-weight: 800;
        font-size: small;
        margin-top: 1em;
    }
}

.contact-section .background {
    clip-path: polygon(0 100px, 50% 0, 100% 100px, 100% 100%, 0 100%);
    margin-top: 200px;
    height: 510px;
    width: 100%;
    background-color: #020202;
}

.contact-section {
    position: relative;
    /* Add position: relative to the section */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background-color: #020202;
    z-index: -1;
    /* Add a negative z-index to move it behind other elements */
}

.contact-page {
    position: relative;
    /* Add position: relative to the contact-page div */
    z-index: 1;
    /* Add a higher z-index to place it in front of the background */
}

.w-100{
    border-radius: 20px !important;
    overflow: hidden !important;
    height: 500px;
    width: 70% !important;
    margin-top: 80px;
}