.card .arrow {
    width: 20px;
    height: 20px;
    position: relative;
    transform: rotate(45deg);
}

.card .arrow:before,
.card .arrow:after {
    content: "";
    position: absolute;
    background-color: #000;
}

.card .arrow:before {
    width: 2px;
    height: 50%;
    top: 0;
    right: 0;
}

.card .arrow:after {
    width: 50%;
    height: 2px;
    top: 0;
    right: 0;
}