.navbar {
    position: fixed;
    top: 0;
    background-color: #030303e7;
    padding: 10px;
    color: #fff;
    height: auto;
    z-index: 100;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    float: right;
    margin: 0;
    margin-right: 50px;
}

.navbar ul li {
    display: inline;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.image-logo {
    height: 50px;
    width: 50px;
}

.search-icon {
    font-size: 20px;
    cursor: pointer;
}