.navbar {
    position: sticky;
    top: 0;
    background-color: #030303;
    padding: 10px;
    color: #fff;
    height: 50px;
}

.navbar ul {
    list-style-type: none;
    float: right;
}

.navbar ul li {
    display: inline;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}
.image-logo{
    height: 3em;
    width: 3em;
}