body {
  margin: 0;
  padding: 0;
  min-height: 92vh;
  min-width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 92vh;
  min-width: 100%;
  position: relative;
}

.overlay-image {
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  height: 17%;
  object-fit: cover;
  z-index: -1;
  /* Adjust the z-index to control the stacking order */
}